// COLOR VARIABLES
$color-white: #fff;
$color-offwhite: #f7f7f7;
$color-blue: rgb(42, 75, 196);
// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-cursive: "Dancing Script", cursive;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: $font-primary;
	background-color: rgba(42, 75, 196, 0.6);
	clip-path: polygon(
		0 0,
		100% 0,
		100% 35%,
		100% 70%,
		100% 100%,
		50% 100%,
		0 100%,
		5% 76%,
		3% 51%,
		11% 25%
	);
	font-weight: 400;
	line-height: 1.6;
	@media screen and(max-width:1600px) {
		clip-path: polygon(
			0 0,
			100% 0,
			100% 35%,
			100% 70%,
			100% 100%,
			50% 100%,
			0 100%,
			5% 76%,
			3% 51%,
			7% 7%
		);
	}
	@media screen and(max-width:1280px) {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background-color: $color-offwhite;
	}
}

a {
	text-decoration: none;
	color: unset;
}

ul {
	list-style: none;
}

.primary-button {
	padding: 2rem;
	background-color: $color-blue;
	color: $color-white;
	opacity: 0.9;
	border-radius: 15px;
	font-size: 2.25rem;
	text-transform: uppercase;
	transition: ease-in 0.2s;
	font-weight: 400;
	&:hover {
		opacity: 1;
	}
}
