#bio {
	min-height: 90vh;
	display: flex;
	justify-content: center;

	background-color: $color-offwhite;
	.bioContainer {
		max-width: 120rem;
		display: flex;
		align-items: center;
		gap: 3rem;
		z-index: 99;
	}
	p {
		font-size: 1.75rem;
		padding: 2rem 0;
	}
	.leftBio {
		max-width: 50rem;
		width: 100%;
		img {
			width: 100%;
			border-radius: 50px;
			z-index: 99;
		}
	}
	@media screen and(max-width:1280px) {
		.bioContainer {
			flex-direction: column-reverse;
			align-items: center;
		}
		p {
			padding: 0 2rem;
		}
		img {
			padding: 0 2rem;
		}
	}
}
