#book {
	min-height: 90vh;
	padding: 4rem 0;
	background-color: $color-offwhite;

	.bookPageContainer {
		max-width: 120rem;
		margin: auto;
		margin-top: 5rem;
		display: flex;
		gap: 3rem;
		position: relative;
		.bgBlock {
			position: absolute;
			max-height: 10rem;
			height: 100%;
			background-color: $color-blue;
			opacity: 0.2;
			z-index: -1;
			width: 100%;
			top: -10px;
			left: -50px;
			border-radius: 15px;
			@media screen and(max-width:786px) {
				max-height: 7rem;
			}
		}
		.rightBook {
			display: flex;
			flex-direction: column;
			img {
				max-width: 35rem;
				max-height: 60rem;
				width: 100%;
				height: 100%;
				border-radius: 5px;
			}
			.previewText {
				font-size: 2rem;
				text-align: center;
				margin-top: 1rem;
				font-style: italic;
				text-transform: uppercase;
				color: $color-blue;
			}
		}
		.leftBook {
			flex: 1;
			h2 {
				font-size: 3rem;
			}
			.dateText {
				// padding: 1rem;
				font-style: italic;
				font-size: 2rem;
			}
			@media screen and(max-width:786px) {
				h2 {
					font-size: 2rem;
				}
				.dateText {
					font-size: 1.5rem;
				}
			}
			.descText {
				padding: 2rem;
				font-size: 2.15rem;
				// text-align: justify;
				line-height: 1.8;
				font-weight: 400;
				padding-right: 4rem;
				@media screen and(max-width:786px) {
					font-size: 1.5rem;
					padding: 1rem;
				}
			}
			.buyBtnContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3rem;
				padding: 3rem 0;
				.buyBtn {
					background-color: $color-white;
					border-radius: 30%;
					padding: 1rem;
					@media screen and(max-width:786px) {
						img {
							max-width: 5rem;
						}
					}
				}
				.buyText {
					font-size: 2rem;
					font-weight: 700;
					@media screen and(max-width:786px) {
						display: none;
					}
				}
			}
		}
		@media screen and(max-width:1280px) {
			flex-direction: column-reverse;
			align-items: center;
			padding: 0 2rem;
		}
	}
}
