header {
	min-height: 80vh;
	display: flex;
	align-items: center;
	padding: 2rem;
}
.headerContainer {
	max-width: 120rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	margin: 5rem auto 2rem auto;
	.leftHeader {
		max-width: 35rem;
		width: 100%;
		img {
			max-width: 35rem;

			width: 100%;
			height: auto;
		}
	}
	.rightHeader {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 2rem;
		flex: 1;
		.headerTitle {
			font-size: 2.25rem;
		}
		.headerText {
			font-size: 2rem;
			padding: 2rem;
		}
		.headerBtnContainer {
			padding: 4rem 2rem;
			.headerBtn {
				padding: 2rem;
				background-color: $color-blue;
				color: $color-white;
				opacity: 0.9;
				border-radius: 15px;
				font-size: 2rem;
				text-transform: uppercase;
				transition: ease-in 0.2s;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	@media screen and(max-width:1280px) {
		flex-direction: column;
		align-items: center;
		.headerBtnContainer {
			text-align: center;
		}
	}
	@media screen and(max-width:400px) {
		.rightHeader {
			padding: 1rem 0;
			.headerText {
				padding: 1rem 0;
			}
			.headerTitle {
				text-align: center;
				font-size: 2rem;
			}
		}
	}
}
